    :root {
      --keralaGreen: #004700; 
      --keralaNight: #000d08;
      --keralaShade: #001d08;
      --ripeMango: #ff6600; 
      --mountainFog: #f0fff8; 
    }

    body {
        background-color: var(--keralaGreen);
        color: var(--mountainFog); 
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        gap: 5%; 
    }

    /* add a nav bar */
.topNav {
  height:fit-content; 
  background-color: var(--keralaNight);
  display: flex; 
  justify-content: center;
}

.topNav > a {
  color: var(--mountainFog); 
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

    .mainContainer {
      display: flex; 
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 2vh; 
    }

    .cardContainer {
      height: 50vh; 
      width: 95vw; 
      margin: 10px;
      border: 5px solid var(--mountainFog); 
      box-sizing: border-box;
      text-align: center;
    }

    .cardItem {
      margin-top: 10px;
      margin-bottom: 10px; 
    }

    .cardItem.top{
      margin-top: 75px; 
    }

    .cardButtons {
      display: flex; 
      flex-direction: column;
      justify-content: space-evenly;
      gap: 5px;
      width: 95vw; 
    } 

    #newCardForm {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 5px; 
      width: 95vw;
      border: solid var(--mountainFog) 5px;
    }

      .cardButtons > button {
        font-size: 1.25rem;
        box-shadow: 5px 5px var(--keralaShade);
      }
      
      .form > input {
        font-size: 1.25rem;
        padding: 1%;
        margin: 2%;
        box-shadow: 5px 5px var(--keralaShade); 
      }
      .form > button {
        font-size: 1.5rem;
        padding: 1%; 
        margin:2%;
        box-shadow: 5px 5px var(--keralaShade); 
      }

  /* Tablet */

  @media only screen and (min-width: 768px) {
    .topNav {
      font-size: 1.5rem;
    }
    .cardContainer {
      font-size: 1.4rem;
    }
    .cardButtons {
      grid-area: cardButtons; 
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
      .cardButtons > button {
        font-size: 1.5rem;
      }

      .form > input {
        font-size: 1.25rem;
      }
      .form > button {
        font-size: 1.5rem;
      }

  }

  /* Desktop */

  @media only screen and (min-width: 992px) {
    body {
      display: flex; 
      flex-direction: column;
      max-width: 100vw;
    }

    .topNav {
      height: 5vh; 
    }

    .mainContainer {
      display: grid; 
      grid-template-areas: 
      "card newCard"
      "buttons newCard"
      ;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      box-sizing: border-box;
      margin: 4vh;  
    }
    .cardContainer {
      grid-area: card;
      height: 70vh;  
      max-width: 45vw;
      box-sizing: border-box;
      margin-right: 3.5vw;
      margin-top: 0; 
      margin-bottom: 0;
      margin-left: 0; 
    }
      .cardContainer *:last-child{
        margin-top: 20%;
      }

    .cardButtons {
      grid-area: buttons;
      max-width: 45vw;
      height: 10vh; 
      box-sizing: border-box;
      font-size: 1.2rem;
      margin-right: 3.5vw;
      margin-top: 0; 
      margin-bottom: 0;
      margin-left: 0; 
      display: flex;
      flex-direction: row;
     justify-content: center;
    }
    .form {
      grid-area: newCard; 
      height: 80vh; 
      max-width: 40vw;
      margin-left: 3.5vw; 
      box-sizing: border-box;
      font-size: 2rem;
    }

  }

    /* display is toggled in js for card content 