    :root {
      --keralaGreen: #004700; 
      --keralaNight: #000d08;
    }

    body {
        background-color: var(--keralaGreen);
        color: whitesmoke; 
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        gap: 5%; 
    }

    /* add a nav bar */
.topNav {
  height:fit-content; 
  background-color: var(--keralaNight);
  display: flex; 
  justify-content: center;
}

.topNav > a {
  color: blanchedalmond; 
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

    .mainContainer {
      display: flex; 
      flex-direction: column;
      justify-content: space-evenly;
      gap: 2vh; 
    }

    .cardContainer {
      height: 50vh; 
      width: 95vw; 
      margin: 10px;
      border: 5px solid whitesmoke; 
      box-sizing: border-box;
      text-align: center;
    }

    .cardItem {
      margin-top: 10px;
      margin-bottom: 10px; 
    }

    .cardItem.top{
      margin-top: 75px; 
    }

    .cardButtons {
      display: flex; 
      flex-direction: column;
      justify-content: space-evenly;
      gap: 5px;
      width: 95vw; 
    } 

    #newCardForm {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 5px; 
      width: 95vw
    }

      .cardButtons > button {
        font-size: 1.5rem;
      }
      
      .form > input {
        font-size: 1.25rem;
      }
      .form > button {
        font-size: 1.5rem;
      }

  @media only screen and (min-width: 600px) {
    .topNav {
      font-size: 1.5rem;
    }
    .cardContainer {
      font-size: 1.4rem;
    }
    .cardButtons {
      grid-area: cardButtons; 
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
      .cardButtons > button {
        font-size: 1.5rem;
      }

      .form > input {
        font-size: 1.25rem;
      }
      .form > button {
        font-size: 1.5rem;
      }

  }

    /* display is toggled in js for card content 