    :root {
      --keralaGreen: #004700; 
      --keralaNight: #000d08;
      --keralaShade: #001d08;
      --ripeMango: #ff6600; 
      --mountainFog: #f0fff8; 
     }

    body {
        background-color: var(--keralaGreen);
        color: var(--mountainFog); 
        font-family: Arial, Helvetica, sans-serif; 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }

    .topNav {
    height:fit-content; 
    background-color: var(--keralaNight);
    display: flex; 
    justify-content: center;
    }

        .topNav > a {
        color: var(--mountainFog); 
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        }

    .welcome {
        font-size: 2.5rem;
        cursor: pointer;
        text-align: center;
    }

    .flashcardExpContainer {
        border: solid var(--mountainFog) 3px; 
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 20px;
        margin: 20px; 
        box-shadow: 3px 3px #001d08;
    }

    .flashcardImg {
        max-width: 70vw;
    }

    .locationImg {
        max-width: 70vw;
    }

    .mapDiv {
        align-self: center;
    }

    #keralaMap {
        max-height: 65vh;
        width: 100%;
        box-shadow: 3px 3px var(--keralaShade);
    }

    .worldClock {
        margin-top: 5vh;
        margin-bottom: 5vh; 
        box-sizing: border-box;
        align-self: start;
        justify-self: center;
        border: solid var(--mountainFog) 3px;
        display: flex; 
        flex-direction: column;
        align-items: start;
        gap: 5px; 
        padding: 25px;
        box-shadow: 3px 3px var(--keralaShade);
    }

    @media only screen and (min-width: 600px) {

    body {
        display: grid; 
        grid-template-areas: 
        "navBar navBar"
        "header map"
        "main map"
        "main worldClock"
        "footer footer"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh auto auto auto auto 5vh;
    }

    .topNav {
        grid-area: navBar; 
    }

    .welcome {
        grid-area: header; 
    }
    .mainContainer {
        grid-area: main;
        display: flex;
        flex-direction: column;
        max-width: 50vw;
    }

    .flashcardImg {
        max-width: 30vw;
    }

    .locationImg {
        max-width: 30vw;
    }

   .mapDiv {
        max-width: 50vw;
        grid-area: map;
        margin-top: 5vh;
        box-sizing: border-box;
        align-self: start;
        justify-self: center;
        border: solid var(--mountainFog) 3px
    }  

    .worldClock {
        grid-area: worldClock;
    }

    .footer {
        grid-area: footer; 
    }

    }