     :root {
      --keralaGreen: #004700; 
      --keralaNight: #000d08;
      --keralaShade: #001d08;
      --munnarTeaGarden: #00b100;
      --ripeMango: #ff6600; 
      --mountainFog: #f0fff8; 
    }

    body {
        background-color: var(--keralaGreen);
        color: var(--mountainFog); 
        font-family: Arial, Helvetica, sans-serif; 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0; 
    }

    .mainContainer {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 10px; 
        margin-bottom: 10px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }

    .topNav {
    height:fit-content; 
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--keralaNight);
    display: flex; 
    justify-content: center;
    padding: 20px; 
    }

        .topNav > a {
        color: var(--mountainFog); 
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        }

    .header {
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
        text-align: center;
        width: 100vw; 
        margin: 10px;
        box-sizing: border-box; 
        min-height: 15vh;
    }

    .flashcardExpContainer {
        border: solid var(--mountainFog) 3px; 
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 20px;
        margin: 20px; 
        box-shadow: 3px 3px #001d08;
    }

    .flashcardImg {
        max-width: 70vw;
    }

    .locationImg {
        max-width: 70vw;
    }

    .mapDiv {
        align-self: center;
        margin: 20px; 
        box-sizing: border-box;
    }

        #keralaMap {
            max-height: 45vh;
            max-width: 100%;
            box-shadow: 3px 3px var(--keralaShade);
        }

    .worldClock {
        margin: 20px; 
        box-sizing: border-box;
        align-self: start;
        justify-self: center;
        border: solid var(--mountainFog) 3px;
        display: flex; 
        flex-direction: column;
        align-items: start;
        gap: 5px; 
        padding: 25px;
        box-shadow: 3px 3px var(--keralaShade);
    }

    @media only screen and (min-width: 700px) {
  

    .mainContainer {
        display: grid;
        grid-template-areas: 
        "flashcardExp mapDiv"
        "locationDiv worldClock"
        ;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto auto; 
    }

        .flashcardExpContainer {
            grid-area: flashcardExp;
        }
            .flashcardImg {
                max-width: 30vw;
            }

        .locationDiv {
            grid-area: locationDiv; 
        }
            .locationImg {
                max-width: 30vw;
            }

        .mapDiv {
            grid-area: mapDiv;
            margin-top: 5vh;
            box-sizing: border-box;
            align-self: start;
            justify-self: center;
            border: solid var(--mountainFog) 3px
        }  

        .worldClock {
            grid-area: worldClock;
        }

    }