    :root {
      --keralaGreen: #004700;
      --keralaNight: #000d08;
     }

    body {
        background-color: var(--keralaGreen);
        color: whitesmoke; 
        font-family: Arial, Helvetica, sans-serif; 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }

        .topNav {
        height:fit-content; 
        background-color: var(--keralaNight);
        display: flex; 
        justify-content: center;
        }

        .topNav > a {
        color: blanchedalmond; 
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
        }

    .welcome {
        font-size: 2.5rem;
        cursor: pointer;
        text-align: center;
    }

    .mapDiv {
        align-self: center;
    }

    #keralaMap {
        max-height: 50vh;
        width: 100%;
    }

    @media only screen and (min-width: 600px) {

    body {
        display: grid; 
        grid-template-areas: 
        "navBar navBar"
        "header map"
        "info map"
        "footer footer"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh auto auto auto 5vh;
    }

    .topNav {
        grid-area: navBar; 
    }

    .welcome {
        grid-area: header; 
    }
    .infoContainer {
        grid-area: info;
    }

   .mapDiv {
        max-width: 50vw;
        grid-area: map;
        margin-top: 5vh;
        box-sizing: border-box;
        align-self: start;
        justify-self: center;
    }  

    .footer {
        grid-area: footer; 
    }

    }